-----------------------------------------------------------------------------------------------------Week3_1_Jyoshitha-------------------------------------------------------------

**Pandas Dataset**

In [ ]:
#importing the pandas libraries
import pandas as pd
# Loading the file
print("BEFORE CLEANING THE DATA:   ")
df = pd.read_csv("Pandas1.csv")
df

BEFORE CLEANING THE DATA:

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
print(df.shape)

(29, 7)

In [ ]:
df.describe()

           Index        Age     Rating  Established
count  29.000000  22.000000  28.000000    29.000000
mean   14.000000  39.045455   3.528571  1638.620690
std     8.514693  16.134781   2.825133   762.079599
min     0.000000  13.000000  -1.000000    -1.000000
25%     7.000000  25.000000   1.050000  1935.000000
50%    14.000000  39.500000   4.200000  1984.000000
75%    21.000000  50.000000   5.400000  1999.000000
max    28.000000  66.000000   7.800000  2020.000000

In [ ]:
# Displaying the datatypes of the attributes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB
None

In [ ]:
df.isna().any()

Index          False
Age             True
Salary         False
Rating          True
Location       False
Established    False
Easy Apply     False
dtype: bool

In [ ]:
df.isna().any().sum()

2

In [ ]:
# Checking for missing values
missing_values = df.isnull().sum()
# Displaying the no . of missing values
print(missing_values)

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

So we have missing values of Age is 7 and rating is 1 .

In [ ]:
#SALARY COLUMN
df0 = df['Salary'].unique()
print(df0)

print("\nData type of the 'Salary' column:")
print(df['Salary'].dtype)

['$44k-$99k' '$55k-$66k' '$77k-$89k' '$10k-$49k' '$88k-$101k' '$19k-$40k'
 '$39k-$88k']

Data type of the 'Salary' column:
object

As we can see that the data type is an object we have to convert it into numeric values .

In [ ]:
# Replacing 'k' with '000'
df['Salary'] = df['Salary'].str.replace('k', '000', regex=True)

# Replacing '$' with ' '
df['Salary'] = df['Salary'].str.replace('$', '', regex=True)

# Display the updated dataset
print(df)

    Index   Age        Salary  Rating       Location  Established Easy Apply
0       0  44.0   44000-99000     5.4       India,In         1999       TRUE
1       1  66.0   55000-66000     3.5    New York,Ny         2002       TRUE
2       2   NaN   77000-89000    -1.0    New York,Ny           -1         -1
3       3  64.0   44000-99000     4.4       India In         1988         -1
4       4  25.0   44000-99000     6.4  Australia Aus         2002         -1
5       5  44.0   77000-89000     1.4       India,In         1999       TRUE
6       6  21.0   44000-99000     0.0    New York,Ny           -1         -1
7       7  44.0   44000-99000    -1.0  Australia Aus           -1         -1
8       8  35.0   44000-99000     5.4    New York,Ny           -1         -1
9       9  22.0   44000-99000     7.7       India,In           -1       TRUE
10     10  55.0   10000-49000     5.4       India,In         2008       TRUE
11     11  44.0   10000-49000     6.7       India,In         2009         -1
12     12   NaN   44000-99000     0.0       India,In         1999         -1
13     13  25.0   44000-99000    -1.0  Australia Aus         2019       TRUE
14     14  66.0   44000-99000     4.0  Australia Aus         2020       TRUE
15     15  44.0  88000-101000     3.0  Australia Aus         1999         -1
16     16  19.0   19000-40000     4.5       India,In         1984         -1
17     17   NaN   44000-99000     5.3    New York,Ny         1943       TRUE
18     18  35.0   44000-99000     6.7    New York,Ny         1954       TRUE
19     19  32.0   44000-99000     3.3    New York,Ny         1955       TRUE
20     20   NaN   44000-99000     5.7    New York,Ny         1944       TRUE
21     21  35.0   44000-99000     5.0    New York,Ny         1946         -1
22     22  19.0   55000-66000     7.8    New York,Ny         1988       TRUE
23     23   NaN   44000-99000     2.4    New York,Ny         1999       TRUE
24     24  13.0   44000-99000    -1.0    New York,Ny         1987         -1
25     25  55.0   44000-99000     0.0  Australia Aus         1980       TRUE
26     26   NaN   55000-66000     NaN       India,In         1934       TRUE
27     27  52.0   44000-99000     5.4       India,In         1935         -1
28     28   NaN   39000-88000     3.4  Australia Aus         1932         -1

In [ ]:
#LOCATION
df0 = df['Location'].unique()
print(df0)

['India,In' 'New York,Ny' 'India In' 'Australia Aus']

In [ ]:
#updating the Location
df['Location'] = df['Location'].str[:-3]
df

    Index   Age        Salary  Rating    Location  Established Easy Apply
0       0  44.0   44000-99000     5.4       India         1999       TRUE
1       1  66.0   55000-66000     3.5    New York         2002       TRUE
2       2   NaN   77000-89000    -1.0    New York           -1         -1
3       3  64.0   44000-99000     4.4       India         1988         -1
4       4  25.0   44000-99000     6.4  Australia          2002         -1
5       5  44.0   77000-89000     1.4       India         1999       TRUE
6       6  21.0   44000-99000     0.0    New York           -1         -1
7       7  44.0   44000-99000    -1.0  Australia            -1         -1
8       8  35.0   44000-99000     5.4    New York           -1         -1
9       9  22.0   44000-99000     7.7       India           -1       TRUE
10     10  55.0   10000-49000     5.4       India         2008       TRUE
11     11  44.0   10000-49000     6.7       India         2009         -1
12     12   NaN   44000-99000     0.0       India         1999         -1
13     13  25.0   44000-99000    -1.0  Australia          2019       TRUE
14     14  66.0   44000-99000     4.0  Australia          2020       TRUE
15     15  44.0  88000-101000     3.0  Australia          1999         -1
16     16  19.0   19000-40000     4.5       India         1984         -1
17     17   NaN   44000-99000     5.3    New York         1943       TRUE
18     18  35.0   44000-99000     6.7    New York         1954       TRUE
19     19  32.0   44000-99000     3.3    New York         1955       TRUE
20     20   NaN   44000-99000     5.7    New York         1944       TRUE
21     21  35.0   44000-99000     5.0    New York         1946         -1
22     22  19.0   55000-66000     7.8    New York         1988       TRUE
23     23   NaN   44000-99000     2.4    New York         1999       TRUE
24     24  13.0   44000-99000    -1.0    New York         1987         -1
25     25  55.0   44000-99000     0.0  Australia          1980       TRUE
26     26   NaN   55000-66000     NaN       India         1934       TRUE
27     27  52.0   44000-99000     5.4       India         1935         -1
28     28   NaN   39000-88000     3.4  Australia          1932         -1

In [ ]:
#ESTABLISHED
df1 = pd.DataFrame({'Established': [1999, 2002, 1988, 2002, 1999, 2008, 2009, 1999, 2019, 2020, 1999, 1984, 1943, 1954, 1955, 1944, 1946, 1988, 1999, 1987, 1980, 1934, 1935, 1932]})

# Filter out -1 values and calculate the average
average_established = df1['Established'].mean()

# Display the result
print("Average Established Year:", average_established)

Average Established Year: 1980.2083333333333

In [ ]:
df['Established'] = df['Established'].replace(-1, 1980)
df

    Index   Age        Salary  Rating    Location  Established Easy Apply
0       0  44.0   44000-99000     5.4       India         1999       TRUE
1       1  66.0   55000-66000     3.5    New York         2002       TRUE
2       2   NaN   77000-89000    -1.0    New York         1980         -1
3       3  64.0   44000-99000     4.4       India         1988         -1
4       4  25.0   44000-99000     6.4  Australia          2002         -1
5       5  44.0   77000-89000     1.4       India         1999       TRUE
6       6  21.0   44000-99000     0.0    New York         1980         -1
7       7  44.0   44000-99000    -1.0  Australia          1980         -1
8       8  35.0   44000-99000     5.4    New York         1980         -1
9       9  22.0   44000-99000     7.7       India         1980       TRUE
10     10  55.0   10000-49000     5.4       India         2008       TRUE
11     11  44.0   10000-49000     6.7       India         2009         -1
12     12   NaN   44000-99000     0.0       India         1999         -1
13     13  25.0   44000-99000    -1.0  Australia          2019       TRUE
14     14  66.0   44000-99000     4.0  Australia          2020       TRUE
15     15  44.0  88000-101000     3.0  Australia          1999         -1
16     16  19.0   19000-40000     4.5       India         1984         -1
17     17   NaN   44000-99000     5.3    New York         1943       TRUE
18     18  35.0   44000-99000     6.7    New York         1954       TRUE
19     19  32.0   44000-99000     3.3    New York         1955       TRUE
20     20   NaN   44000-99000     5.7    New York         1944       TRUE
21     21  35.0   44000-99000     5.0    New York         1946         -1
22     22  19.0   55000-66000     7.8    New York         1988       TRUE
23     23   NaN   44000-99000     2.4    New York         1999       TRUE
24     24  13.0   44000-99000    -1.0    New York         1987         -1
25     25  55.0   44000-99000     0.0  Australia          1980       TRUE
26     26   NaN   55000-66000     NaN       India         1934       TRUE
27     27  52.0   44000-99000     5.4       India         1935         -1
28     28   NaN   39000-88000     3.4  Australia          1932         -1

In [ ]:
#EASY APPLY
df['Easy Apply'] = df['Easy Apply'].replace('-1', 'FALSE')
df

    Index   Age        Salary  Rating    Location  Established Easy Apply
0       0  44.0   44000-99000     5.4       India         1999       TRUE
1       1  66.0   55000-66000     3.5    New York         2002       TRUE
2       2   NaN   77000-89000    -1.0    New York         1980      FALSE
3       3  64.0   44000-99000     4.4       India         1988      FALSE
4       4  25.0   44000-99000     6.4  Australia          2002      FALSE
5       5  44.0   77000-89000     1.4       India         1999       TRUE
6       6  21.0   44000-99000     0.0    New York         1980      FALSE
7       7  44.0   44000-99000    -1.0  Australia          1980      FALSE
8       8  35.0   44000-99000     5.4    New York         1980      FALSE
9       9  22.0   44000-99000     7.7       India         1980       TRUE
10     10  55.0   10000-49000     5.4       India         2008       TRUE
11     11  44.0   10000-49000     6.7       India         2009      FALSE
12     12   NaN   44000-99000     0.0       India         1999      FALSE
13     13  25.0   44000-99000    -1.0  Australia          2019       TRUE
14     14  66.0   44000-99000     4.0  Australia          2020       TRUE
15     15  44.0  88000-101000     3.0  Australia          1999      FALSE
16     16  19.0   19000-40000     4.5       India         1984      FALSE
17     17   NaN   44000-99000     5.3    New York         1943       TRUE
18     18  35.0   44000-99000     6.7    New York         1954       TRUE
19     19  32.0   44000-99000     3.3    New York         1955       TRUE
20     20   NaN   44000-99000     5.7    New York         1944       TRUE
21     21  35.0   44000-99000     5.0    New York         1946      FALSE
22     22  19.0   55000-66000     7.8    New York         1988       TRUE
23     23   NaN   44000-99000     2.4    New York         1999       TRUE
24     24  13.0   44000-99000    -1.0    New York         1987      FALSE
25     25  55.0   44000-99000     0.0  Australia          1980       TRUE
26     26   NaN   55000-66000     NaN       India         1934       TRUE
27     27  52.0   44000-99000     5.4       India         1935      FALSE
28     28   NaN   39000-88000     3.4  Australia          1932      FALSE

In [ ]:
#RATINGS
# Scale the "Rating" column to the range [0, 10]
df['Rating']= df['Rating'].clip(0, 10)
#Replace the NaN values with 0.0
df['Rating'] = df['Rating'].fillna(0.0)
#converting the rating into round figure
df['Rating'] = df['Rating'].round()
#Converting it into integer
df['Rating'] = df['Rating'].astype(int)
# Display the DataFrame with the scaled ratings
df

    Index   Age        Salary  Rating    Location  Established Easy Apply
0       0  44.0   44000-99000       5       India         1999       TRUE
1       1  66.0   55000-66000       4    New York         2002       TRUE
2       2   NaN   77000-89000       0    New York         1980      FALSE
3       3  64.0   44000-99000       4       India         1988      FALSE
4       4  25.0   44000-99000       6  Australia          2002      FALSE
5       5  44.0   77000-89000       1       India         1999       TRUE
6       6  21.0   44000-99000       0    New York         1980      FALSE
7       7  44.0   44000-99000       0  Australia          1980      FALSE
8       8  35.0   44000-99000       5    New York         1980      FALSE
9       9  22.0   44000-99000       8       India         1980       TRUE
10     10  55.0   10000-49000       5       India         2008       TRUE
11     11  44.0   10000-49000       7       India         2009      FALSE
12     12   NaN   44000-99000       0       India         1999      FALSE
13     13  25.0   44000-99000       0  Australia          2019       TRUE
14     14  66.0   44000-99000       4  Australia          2020       TRUE
15     15  44.0  88000-101000       3  Australia          1999      FALSE
16     16  19.0   19000-40000       4       India         1984      FALSE
17     17   NaN   44000-99000       5    New York         1943       TRUE
18     18  35.0   44000-99000       7    New York         1954       TRUE
19     19  32.0   44000-99000       3    New York         1955       TRUE
20     20   NaN   44000-99000       6    New York         1944       TRUE
21     21  35.0   44000-99000       5    New York         1946      FALSE
22     22  19.0   55000-66000       8    New York         1988       TRUE
23     23   NaN   44000-99000       2    New York         1999       TRUE
24     24  13.0   44000-99000       0    New York         1987      FALSE
25     25  55.0   44000-99000       0  Australia          1980       TRUE
26     26   NaN   55000-66000       0       India         1934       TRUE
27     27  52.0   44000-99000       5       India         1935      FALSE
28     28   NaN   39000-88000       3  Australia          1932      FALSE

After completing the conversions, we delete the columns containing 'NaN' values.

In [ ]:
unique_established = df['Established'].unique()
unique_age = df['Age'].unique()

print("Unique Established Years:", unique_established)
print("Unique Age Values:", unique_age)

Unique Established Years: [1999 2002 1980 1988 2008 2009 2019 2020 1984 1943 1954 1955 1944 1946
 1987 1934 1935 1932]
Unique Age Values: [44. 66. nan 64. 25. 21. 35. 22. 55. 19. 32. 13. 52.]

In [ ]:
#AGE
current_year = 2023
# Fill missing Age values based on Established year
df['Age'].fillna(current_year - df['Established'], inplace=True)

In [ ]:
# After cleaning
print("AFTER CLEANING THE DATA: ")
df

AFTER CLEANING THE DATA:

    Index   Age        Salary  Rating    Location  Established Easy Apply
0       0  44.0   44000-99000       5       India         1999       TRUE
1       1  66.0   55000-66000       4    New York         2002       TRUE
2       2  43.0   77000-89000       0    New York         1980      FALSE
3       3  64.0   44000-99000       4       India         1988      FALSE
4       4  25.0   44000-99000       6  Australia          2002      FALSE
5       5  44.0   77000-89000       1       India         1999       TRUE
6       6  21.0   44000-99000       0    New York         1980      FALSE
7       7  44.0   44000-99000       0  Australia          1980      FALSE
8       8  35.0   44000-99000       5    New York         1980      FALSE
9       9  22.0   44000-99000       8       India         1980       TRUE
10     10  55.0   10000-49000       5       India         2008       TRUE
11     11  44.0   10000-49000       7       India         2009      FALSE
12     12  24.0   44000-99000       0       India         1999      FALSE
13     13  25.0   44000-99000       0  Australia          2019       TRUE
14     14  66.0   44000-99000       4  Australia          2020       TRUE
15     15  44.0  88000-101000       3  Australia          1999      FALSE
16     16  19.0   19000-40000       4       India         1984      FALSE
17     17  80.0   44000-99000       5    New York         1943       TRUE
18     18  35.0   44000-99000       7    New York         1954       TRUE
19     19  32.0   44000-99000       3    New York         1955       TRUE
20     20  79.0   44000-99000       6    New York         1944       TRUE
21     21  35.0   44000-99000       5    New York         1946      FALSE
22     22  19.0   55000-66000       8    New York         1988       TRUE
23     23  24.0   44000-99000       2    New York         1999       TRUE
24     24  13.0   44000-99000       0    New York         1987      FALSE
25     25  55.0   44000-99000       0  Australia          1980       TRUE
26     26  89.0   55000-66000       0       India         1934       TRUE
27     27  52.0   44000-99000       5       India         1935      FALSE
28     28  91.0   39000-88000       3  Australia          1932      FALSE

----------------------------------------------------------------------------------------------------Week3_2_Jyoshitha----------------------------------------------------------------------------------------------

**Chipotle dataset**

In [ ]:
# Read the TSV file into a DataFrame
df = pd.read_csv("chipotle (1).tsv", sep='\t')

# Display the DataFrame
print("Before cleaning the chipotle dataset: ")
print(df.head())

Before cleaning the chipotle dataset:
   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [ ]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [ ]:
print(df.shape)

(4622, 5)

In [ ]:
# Displaying the datatypes of the attributes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [ ]:
# Filling the NaN values of choice description with No choice
df['choice_description'].fillna('No Choice', inplace=True)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Choice,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Choice,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
# Handle missing values in the Item Price column (assuming filling with 0.0)
df['item_price'].fillna('$0.0', inplace=True)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Choice,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Choice,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
# Checking If there is any dupilcate values present in the dataset
print("Duplicated Entries that are present in the dataset: ")
df.duplicated().sum()

Duplicated Entries that are present in the dataset:

59

In [ ]:
# Droping the duplicates
df = df.drop_duplicates()
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Choice,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Choice,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
# Resetting the indices after removing the duplicates
df = df.reset_index(drop=True)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,No Choice,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Choice,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4558,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4559,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4560,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4561,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4562,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
df['item_name'].str.lower()

0                chips and fresh tomato salsa
1                                        izze
2                            nantucket nectar
3       chips and tomatillo-green chili salsa
4                                chicken bowl
                        ...
4558                            steak burrito
4559                            steak burrito
4560                       chicken salad bowl
4561                       chicken salad bowl
4562                       chicken salad bowl
Name: item_name, Length: 4563, dtype: object

In [ ]:
# Display unique variations in the standardized Item Name
unique_item_names = df['item_name'].unique()
print("Standardized Item Names:\n", unique_item_names)

Standardized Item Names:
 ['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

In [ ]:
# Split the 'item_price' column on '$' and convert to numeric
df['item_price'] = df['item_price'].str.replace('$', '').astype(float)

# Group by order ID and aggregate the rows
df = df.groupby('order_id').agg({
    'quantity': 'sum',
    'item_name': ', '.join,
    'choice_description': ', '.join,
    'item_price': 'sum'
}).reset_index()
print(df)

      order_id  quantity                                          item_name  \
0            1         4  Chips and Fresh Tomato Salsa, Izze, Nantucket ...
1            2         2                                       Chicken Bowl
2            3         2                        Chicken Bowl, Side of Chips
3            4         2                    Steak Burrito, Steak Soft Tacos
4            5         2                 Steak Burrito, Chips and Guacamole
...        ...       ...                                                ...
1829      1830         2                      Steak Burrito, Veggie Burrito
1830      1831         3                Carnitas Bowl, Chips, Bottled Water
1831      1832         2            Chicken Soft Tacos, Chips and Guacamole
1832      1833         2                       Steak Burrito, Steak Burrito
1833      1834         3  Chicken Salad Bowl, Chicken Salad Bowl, Chicke...

                                     choice_description  item_price
0           No Choice, [Clementine], [Apple], No Choice       11.56
1     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
2     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       12.67
3     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       21.00
4     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...       13.70
...                                                 ...         ...
1829  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       23.00
1830  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       12.90
1831  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...       13.20
1832  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       23.50
1833  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       28.75

[1834 rows x 5 columns]

<ipython-input-647-82792ddcfd67>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price'] = df['item_price'].str.replace('$', '').astype(float)

In [ ]:
print("Cleaned chipotle Data: ")
df

Cleaned chipotle Data:

,order_id,quantity,item_name,choice_description,item_price
0,1,4,"Chips and Fresh Tomato Salsa, Izze, Nantucket ...","No Choice, [Clementine], [Apple], No Choice",11.56
1,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
2,3,2,"Chicken Bowl, Side of Chips","[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",12.67
3,4,2,"Steak Burrito, Steak Soft Tacos","[Tomatillo Red Chili Salsa, [Fajita Vegetables...",21.00
4,5,2,"Steak Burrito, Chips and Guacamole","[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",13.70
...,...,...,...,...,...
1829,1830,2,"Steak Burrito, Veggie Burrito","[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",23.00
1830,1831,3,"Carnitas Bowl, Chips, Bottled Water","[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",12.90
1831,1832,2,"Chicken Soft Tacos, Chips and Guacamole","[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",13.20
1832,1833,2,"Steak Burrito, Steak Burrito","[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",23.50
1833,1834,3,"Chicken Salad Bowl, Chicken Salad Bowl, Chicke...","[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",28.75